# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Rust
target

# Tauri
src-tauri/gen/schemas

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# OS
.DS_Store
Thumbs.db
